.ColorCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* width: 100%; */
  /* height: 100%; */
}

#color-circle {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

#lock-img {
  height: 25px;
  margin: 2px 2px 2px 2px;
}

#lock-img:hover {
  border: 1px solid #FFFFFF;
}