.FolderForm {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 100%;
  margin: 5px 5px 5px 5px;
}

#addFolder-text {
  color: #FFF;
}

#addFolder-input {
  width: 75%;
  margin: auto;
  border-radius: 5px;
  height: 35px;
  font-size: 15px;
}

#addFolder-button {
  width: 20%;
  margin: auto;
  border-radius: 5px;
  height: 35px;
}