.FolderForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 150px;
  width: 100%;
  margin: 5px 5px 5px 5px;
}

#addFolder-text {
  color: #D25923;
  padding: 5px;
}

#addFolder-input {
  width: 75%;
  margin: auto;
  border-radius: 5px;
  height: 35px;
  font-size: 15px;
  text-align: center;
  border: none;
}

#addFolder-button {
  width: 50%;
  margin: auto;
  border-radius: 5px;
  height: 25px;
  border: none;
}
