* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  background: url("../../assets/bobRoss_opacity.jpg") no-repeat center center fixed;
  background-size: cover;
}

.App {
  display: flex;
}

