.PaletteForm {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-family: 'Caveat', cursive;
}

#palette-img {
  height: 50px;
  margin-right: 10px;
}

#generatePalette-button {
  border: none;
  background-color: transparent;
  color: #FFF;
  font-size: 30px;
}

#generatePalette-container, #savePalette-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 25%;
}

#generatePalette-container:hover,  #savePalette-container:hover { 
  border: 2px solid #FFFFFF 
}

#download-img {
  height: 40px;
  margin-right: 10px;
}

#savePalette-button {
  border: none;
  background-color: transparent;
  color: #FFF;
  font-size: 30px;
}

#dropdown-button {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

#dropdown-container {
  position: relative;
  display: inline-block;
}

#dropdown-folders {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#dropdown-folders p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#dropdown-folders p:hover {background-color: #ddd;}

#dropdown-container:hover #dropdown-folders {display: block;}

#dropdown-container:hover #dropdown-button {background-color: #3e8e41;}