.Folder {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5px;
}

#folder_name {
  border: none;
  background-color: transparent;
  width: 75%;
  height: 50px;
  text-align: center;
  align-self: center;
  font-size: 20px;
  font-weight: bolder;
  color: white;
}

#folder_name:hover {
  background-color: white;
  color: #000;
}

#delete-img {
  height: 25px;
  margin: 2px 2px 2px 2px;
}

#delete-img:hover {
  border: 1px solid #FFFFFF;
}