.ColorsContainer{
  /* height: 200px; */
  display: flex;
  float: right;
  width: 82%;
  margin-bottom: 20px;
}


.palette_delete {
  height: 25px;
  margin: 10px;
}
.palette_delete:hover {
  filter: invert(0.5)
}
